$main-color : #FBFBF2;
$main-grey : #E5E6E4;
$grey : #CFD2CD;
$dark-grey : #A6A2A2;
$brown : #847577;

@font-face {
    font-family: 'Ahganirya';
    src: url("ASSETS/FONTS/Ahganirya.ttf");
}

@font-face {
    font-family: 'Moguine';
    src: url("ASSETS/FONTS/MoguineSerifPersonalUseRegular-nRw80.otf");
}