$background : linear-gradient(to bottom, #22232C, #0F0F0F);
@font-face {
    font-family: 'Ahganirya';
    src: url("ASSETS/FONTS/Ahganirya.ttf");
}

@font-face {
    font-family: 'Moguine';
    src: url("ASSETS/FONTS/MoguineSerifPersonalUseRegular-nRw80.otf");
}