@font-face { font-family: 'Fraunces'; src: url("../ASSETS/FONTS/Fraunces.woff2") format("woff2"); }
@font-face { font-family: 'details'; src: url("../ASSETS/FONTS/details.woff2") format("woff2"); }

$details-font : 'details';
$main-font : 'Fraunces';
$background : linear-gradient(to bottom, #22232C, #0F0F0F);
$component-background : rgba(0, 0, 0, 32%);
$details-color: #56FF90;
$rectangle-background: linear-gradient(to right, rgba(189, 243, 255, 13%), transparent);
$title-size: 13vw;
$text-size: 1.5vw;

body {
    height: 100vh;
    width: 100vw;
    background: $background;
    overflow-x: hidden;
    overflow-y: hidden;
    color : white;
    font-family : $main-font;

    .title {
        height: 100vh;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family : $main-font;
        font-size : 13vw;
        line-height: 0.90;
        .cursive {
            font-family : $details-font;
            color: $details-color;
            font-size: $title-size;
        } #G { margin-right: 1.3vw; }
    }

    nav {
        width: 27%;
        height: 70px;
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        .right-edge { border-right: 1px solid white; }
        .link {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size : 2vw;
            text-decoration: none;
            color: white;
            a {
                text-decoration: none;
                color: white;
                transition: all 0.1s;
                &:hover { color: $details-color; }
            }
        }
    }

    .centered-losange--wrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .centered-losange {
            height: 30vw;
            width: 30vw;
            position: absolute;
            background: $rectangle-background;
            transform: rotate(45deg);
        }
    }

    .corners {
        position: absolute;
        top: 0px;
        left: 0px;
        & > * {
            position: relative;
            background-color:white;
        }
        .horizontal-bar {
            height: 1px;
            width: 30vw;
            top: 29px;
            left: 47px;
        }
        .mini-horizontal-bar {
            height: 1px;
            width: 10vw;
            top: 10px;
            left: 40px;
        }
        .vertical-bar {
            height: 7.5vh;
            width: 1px;
            top: 19px;
            left: 29px;
        }
        .losange {
            background-color: transparent;
            border: 2px solid white;
            height: 25px;
            width: 25px;
            top: 15px;
            transform: rotate(45deg);
            left: 15px;
        }
    }
    .bottom-right {
        transform: rotate(180deg);
        bottom: 0;
        right: 0;
    }
}
